
html, body, div, ul, li, span, canvas {padding:0; margin: 0; border: 0px solid white; }

html {background:#000; width:100%; height:100%; overflow: hidden}
body {background:#000; overflow: hidden; font-size: 16px}

canvas {background:#000;}

.right {float:   right;}
.left  {float:   left;}
.none  {display: none;}
.block {display: block;}

h1 {
  font-family: "Sans Serif";
  font-size: 20px;
  font-weight: 400;
  float: left;
  margin: 4px 8px 0 8px;
}
h1 a {
  color: #EEE;
  text-decoration: none
}
h1 a:hover {
  color: #FFF
}

h2 {
  font-family: "Sans Serif";
  font-size: 14px;
  font-weight: 400;
  margin: 8px 8px 0 8px;
  float: left;
}


/*   H E A D E R  */ 

.barContainer {
  background: #aaa;
  position: absolute; top: 0; left:0; height: 32px; width: 100%; z-index: 10; 
}

.barMiddle, .barRight, .barLeft {
  height: 100%;
  width: 33%;
  overflow: hidden;
}

.barMiddle .barCanvas {
  width: 300px;
  height: 100%;
  border: 0px solid white;
  background-color: #aaa;
}

.barRight .button {
  margin: 6px 2px;
  background: #888;
  color: #ddd;
  padding: 1px 4px 1px 4px;
  border: 1px solid #AAA;
  font-weight: 800;
}

.barRight .button:hover {
  background: #666;
  color: #eee;
}


/*   M E N U  */ 

.menu {
  display: none;
  z-index: 10;
  position: absolute;
  border: 1px solid white;
  background: rgba(128, 128, 128, 0.8);
}

ul.menu-list {
  margin: 2px;
  padding: 0;
}

li.menu-item, 
li.menu-item-disabled, 
li.sub-menu-item,
li.sub-menu-item-disabled {
  list-style: none;
  margin: 2px;
  padding: 0;
  color: rgba(220, 220, 220, 0.8);
  font: bold 16px Cantarell;
  cursor: pointer;
}

li.sub-menu-item {
  color: rgba(220, 220, 220, 0.8);
  font: bold 14px Cantarell;
}

li.menu-item:hover, li.sub-menu-item:hover {
  color: rgba(250, 250, 250, 1.0);
}

li.sub-menu-item {
  font: bold 14px Cantarell;  
}

li.menu-item-disabled {
  color: rgba(96, 96, 96, 1.0);
  cursor: default;
}

ul.sub-menu-list {
  margin: 2px;
  padding: 0;
}

li.sub-menu-item:hover {
  color: rgba(250, 250, 250, 1.0);
}

li.sub-menu-item-disabled {
  color: rgba(96, 96, 96, 1.0);
  cursor: default;
}


/*   M E S S A G E S  */ 

ul.messages-list {
  width: 300px;
  margin: 2px;
  padding: 0;
}

li.messages-item {
  list-style: none;
  margin: 2px;
  padding: 0;
  color: rgba(220, 220, 220, 0.8);
  font: bold 16px Cantarell;
  cursor: pointer;
}

li.messages-item:hover {
  color: rgba(250, 250, 250, 1.0);
}


/*  C O N T E N T  */ 

.content {
  position: absolute;
  width: 100%;
}

.center {
  width: 400px;
  height: 80%;
  margin: 60px auto;
  border: 1px solid #333;
}

.tab {
  position: absolute;
}

.tab.playground {
  background: #9a9;
}

.tab.errors {
  background: #a99;
}

.tab.code {
  background: #99a;
}

.tab.messages {
  background: #999;
}

.tab.ticker {
  background: #fff;
}

textarea.textCode {
  width: 100%;
  height: 100%;
}

